.img-ifx-web {
  background-image: url('Images/menu/ifx-i-web.png');
}
.img-ifx-org {
  background-image: url('Images/menu/ifx-i-org.png');
}
.img-ifx-phone {
  background-image: url('Images/menu/ifx-i-phone.png');
}
.img-ifx-rules {
  padding: 0px 10px 0px 25px;
  background-position: 5px 50%;
  background-image: url('Images/menu/ifx-i-rules.png');
}
.img-ifx-impersonation {
  background-image: url('Images/menu/iconImpersonation.png');
}
.img-ifx-impersonationStop {
  background-image: url('Images/menu/iconImpersonationExit.png');
}
.img-site {
  background-image: url("Images/menu/site_white.svg");
  width: 48px;
  height: 48px;
  background-size: calc(48px -10px) calc(48px -10px);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}
.img-log {
  background-image: url("Images/menu/log_white.svg");
  width: 48px;
  height: 48px;
  background-size: calc(48px -10px) calc(48px -10px);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}
.img-lock {
  background-image: url("Images/menu/lock_white.svg");
  width: 48px;
  height: 48px;
  background-size: calc(48px -10px) calc(48px -10px);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}
.img-information {
  background-image: url("Images/24x24/information.png");
  background-repeat: no-repeat;
  display: inline-block;
  background-position: center;
  white-space: nowrap;
  vertical-align: middle;
  outline: none !important;
  width: 24px;
  height: 24px;
}
.img-user {
  background-image: url("Images/24x24/user.png");
  background-repeat: no-repeat;
  display: inline-block;
  background-position: center;
  white-space: nowrap;
  vertical-align: middle;
  outline: none !important;
  width: 24px;
  height: 24px;
}